[Unit]
Description=Busybox Logging Service: syslogd

[Service]
Type=simple
ExecStartPre=/bin/systemctl stop systemd-kmsg-syslogd.service
ExecStart=/sbin/syslogd -n
Sockets=syslog.socket

[Install]
WantedBy=multi-user.target
