[Unit]
Description=Run syslog
After=var.mount

[Service]
Type=forking
ExecStart=/sbin/syslogd -b 5
OOMScoreAdjust=-1000
Restart=always
RestartSec=0

[Install]
WantedBy=basic.target
